body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background-color: #f5f5f5;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
}